

body { 
	margin: 0; 
	padding: 0; 
	background: #fff url(images/bg.gif) repeat-x; 
	font: normal .7em Tahoma, Verdana, Arial, Helvetica, Sans-Serif; 
	line-height: 1.6em; 
	color: #333; 
	
}

/* Linqet dhe stilet e pergjigjshme (headings)*/

a { color: #546F92; background: inherit; }
a:hover { color: #808080; background: inherit; }
h1  { font: bold 2em "Trebuchet MS", Helvetica, Sans-Serif; margin: 0; color: #fff; background-color:transparent; }
h2  { font: bold 1.4em "Trebuchet MS", Helvetica, Sans-Serif; }
h3 { clear: both; font-size: 1.1em; color: #000; background: #fff url(images/h3bg.gif) no-repeat center left; padding: 0 14px; margin: 0;}
.blue { color: #546F92; background: inherit; }
.image { float: left; border: 2px solid #e2e2e2; padding: 3px; margin: 0 15px 10px 0; }

/* CONTENT WRAPPER */

#main { 
	width: 1050px; 
	margin: 20px auto 0 auto; 
}

/* Logo kryesore - ana e majte*/

#logo { 
	float: left; 
	padding: 10px 0 10px 35px; 
}
	#logo h1 { color: #000; background: #fff; }


	
#menu { 
	float: center; 
	background: #fff url(images/barul.gif) no-repeat bottom right; 
	color: #808080; 
	padding: 20px 10px 10px 0; 
	margin: 10px; 
}
	#menu li { 
		padding: 14px 18px 14px 18px; 
		color: #444; 
		background: #fff url(images/bar.gif) no-repeat bottom left; 
		display: inline; 
	}
	#menu li.active { 
		background: #fff url(images/baractive.gif) no-repeat bottom left; 
		color: #8D9CAF; 
		font-weight: bold; 
		padding: 14px 18px 14px 18px; 
		margin: 0 1px 0 0; 
	}
	#menu li a { 
		background: #f8f8f8; 
		color: #808080; 
		text-decoration: none; 
	} 	
	#menu li a:hover { 
		color: #000; 
		background: #f8f8f8; 
	} 	
	

/* hyjra ne te majte*/	

#intro_left {
	clear: left;
	float: left;
	width: 250px;
	background: #8D9CAF url(images/leftintrobg.gif) repeat-x;
	color: #E5EAF2;
	margin: 0 0 1px 0;
}
	#intro_left a { color: #fff; background: inherit; }
	#intro_left p { padding: 14px 15px; margin: 0; }

	/* menu e vogel ne te majte*/
	
	#menu_left { 
		float: left;  
		margin: 0 0 6px 0; 
		padding: 0 0 1px 0; 
		border-bottom: 2px solid #e2e2e2; 
	}
		#menu_left li { list-style: none; }
		#menu_left li a { 
			display: block; 
			color: #3F5B7F; 
			background: #C2CEDE url(images/arrow.gif) no-repeat center left; 
			width: 204px; 
			padding: 7px 23px 7px 23px; 
			margin: 0 0 1px 0; 
			font-weight: bold; 
			text-decoration: none; 
		}	
		#menu_left li a:hover { background: #9EB1C9 url(images/arrow.gif) no-repeat center left; color: #fff;  }


	
#intro_right {
	float: right;
	width: 700px;
	padding: 20px 45px;
	background: #BCCEDA url(images/intro.jpg) no-repeat;
	color: #547592;
	margin: 0px 0px 0px 10px;
	height: 174px;

}
#intro_right h1 { margin: 0 0 20px 0; }

/*       */
	
#left {
	float: left;
	width: 250px;
}
	.box {
		padding: 3px 15px;
		border: 1px solid #ccc;
		margin: 12px 0 10px 10px;
	}
	.note {
		padding: 15px 15px 20px 100px;
		border: 1px solid #CFCB66;
		margin: 0 0 5px 10px;
		background: #FFFFAD url(images/package.gif) no-repeat;
		color: #585616;
	}


#right {
	float: right;
	width: 643px;
}

.djathtcol { 
	float: right; 
	padding: 120px 50px;
	width: 350px; 
	
	margin: -100px 0 0px 0px;
}

	.leftcol { 
		float: left; 
		padding: 12px 15px;
		width: 285px; 
		border:#ccc 1px solid;
		text-align: justify;
		margin: 0 0 10px 0;
	}
	.rightcol { 
		float: right; 
		padding: 10px 15px;
		width: 285px; 
		border:#ccc 1px solid;
		margin: 0 0 10px 0;
		}
	.special {
		clear: both;
		margin:0px 0 20px 0;	
		padding: 5px 20px;
		border: 1px solid #ccc;
		background: #eee;
		color: #444;
	}


.blue { color: #185875; }
 .yellow { color: #FFF842; }
 
 .container th h1 {
       font-weight: bold;
       font-size: 1.5em;
   text-align: left;
   color: #185875;
 }
 
 .container td {
       font-weight: normal;
       font-size: 1.5em;
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
        -moz-box-shadow: 0 2px 2px -2px #0E1119;
             box-shadow: 0 2px 2px -2px #0E1119;
 }
 
 .container {
       text-align: left;
       overflow: hidden;
       width: 50%;
       margin: 0 auto;
   display: table;
   padding: 0px 0 15px 0;
 }
 
 .container td, .container th {
       padding-bottom: 2%;
       padding-top: 3%;
   padding-left:2%;  
 }
 
 /* Background-color of the odd rows */
 .container tr:nth-child(odd) {
       background-color: #FFFFAD;
 }
 
 /* Background-color of the even rows */
 .container tr:nth-child(even) {
       background-color: #CFCB66;
 }
 
 .container th {
       background-color: #CFCB66;
 }
 
 .container td:first-child { color: #FB667A; }
 
 .container tr:hover {
    background-color: #464A52;
 -webkit-box-shadow: 0 6px 6px -6px #FB667A;
        -moz-box-shadow: 0 6px 6px -6px #FB667A;
             box-shadow: 0 6px 6px -6px #FB667A;
 }
 
 .container td:hover {
   background-color: #FFF842;
   color: #403E10;
   font-weight: bold;
   
   box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
   transform: translate3d(6px, -6px, 0);
   
   transition-delay: 0s;
       transition-duration: 0.4s;
       transition-property: all;
   transition-timing-function: line;
 }
 
 @media (max-width: 800px) {
 .container td:nth-child(4),
 .container th:nth-child(4) { display: none; }
 }

/* FOOTER */

#footer { clear: both; padding: 5px; border-top: 1px solid #ccc; }



